name: CI/CD

on: workflow_dispatch

jobs: 
  build:
    runs-on: [self-hosted, build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: '24'
          check-latest: true
          cache: 'npm'          
          
      - name: Install
        run: npm ci
        
      - name: Build
        run: npm run build
        
      - name: Zip files
        run: |
          mkdir -p ./artifacts/
          cd ./dist/angular-pipeline/browser
          zip -r ../../../artifacts/dist.zip ./*

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-zip
          path: ./artifacts/dist.zip
  deploy-staging:
    runs-on: [self-hosted, release, staging]
    environment: staging
    needs: build
    env:
      RELEASE_DIR: ${{ secrets.RELEASE_DIR }}
    steps: 
      - name: Print Hello
        run: echo "HELLO $USER"
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist-zip
          path: .
      - name: UnZip Artifact
        run: |
          mkdir -p "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER/"
          unzip ./dist.zip -d "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER/"
      - name: Link Current
        run: ln -sfn "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER" "$RELEASE_DIR/current"

  deploy-production:
    runs-on: [self-hosted, release, production]
    environment: production
    needs: [build, deploy-staging]
    env:
      RELEASE_DIR: ${{ secrets.RELEASE_DIR }}
    steps: 
      - name: Print Hello
        run: echo "HELLO $USER"
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist-zip
          path: .
      - name: UnZip Artifact
        run: |
          mkdir -p "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER/"
          unzip ./dist.zip -d "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER/"
      - name: Link Current
        run: ln -sfn "$RELEASE_DIR/release-$GITHUB_RUN_NUMBER" "$RELEASE_DIR/current"
