name: CI/CD

on: workflow_dispatch

jobs: 
  build:
    runs-on: [self-hosted, build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: '24'
          check-latest: true
          cache: 'npm'          
          
      - name: Install
        run: npm ci
        
      - name: Build
        run: npm run build
        
      - name: Zip files
        run: |
          mkdir -p ./artifacts/
          cd ./dist/angular-pipeline/browser
          zip -r ../../../artifacts/dist.zip ./*

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-zip
          path: ./artifacts/dist.zip

  deploy:
    runs-on: [self-hosted, release]
    environment: production
    needs: build
    steps: 
      - name: Print Hello
        run: echo "HELLO $USER"
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist-zip
          path: .
      - name: UnZip Artifact
        run: |
          mkdir -p "/var/www/angular-pipeline/release-$GITHUB_RUN_NUMBER/"
          unzip ./dist.zip -d "/var/www/angular-pipeline/release-$GITHUB_RUN_NUMBER/"
          
