name: Redeploy

on: 
  workflow_dispatch:
    inputs: 
      release_no: 
        description: "Release number to redeploy"
        type: string
        required: true

jobs:
  redeploy:
    runs-on: [self-hosted, release]
    env: 
      RELEASE_DIR: ${{secrets.RELEASE_DIR}}
    steps:
      - name: Re link
        run: ln -sfn "$RELEASE_DIR/release-${{inputs.release_no}}" "$RELEASE_DIR/current"
